*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    background-color: #e9eaea;
    font-family: 'Poppins', sans-serif;
}
.nav{
    /* border: 1px solid red; */
    width: 100%;
    height: 50px;
}
.body{
    width: 92%;
    /* border: 1px solid red; */
    margin: auto;
}
.body > p:nth-child(1),
.body > p:nth-child(1) > a,
.body > p:nth-child(1) > span
{
    font-size: 14px;
    color: grey;
}
.body > p:nth-child(1) > span{
    color: black;
}
#xerhead{
    font-size: 25px;
}
.body > p:nth-child(2){
    margin-top: 5px;
    padding: 5px;
}
.body > p:nth-child(2) > span:nth-child(2){
    color: grey;
}
.headder{
    /* border: 1px solid red; */
    width: 100%;
    /* height: 30px; */
    margin-top: 8px;
    display: flex;
    background-color: white;
    /* padding-top: 5px;
    padding-bottom: 5px ; */
}
.headder > div:nth-child(1){
    width: 30%;
    padding: 5px;
    background-color: white;
}
.headder > div:nth-child(1) > div{
    display: inline;
    /* background-color: red; */
    padding-top: 5px;
    padding-bottom: 8px;
    border: 0.7px solid grey;
    border-radius: 3px;
    background-color: white;
}
.headder > div:nth-child(1) > i, .headder > div:nth-child(1)>p{
    display: inline;
    background-color: white;
}
.headder > div:nth-child(1) > i{
    color: red;
}
.headder > div:nth-child(1)>p{
    padding-right: 10px;
    background-color: white;
}
.headder > div:nth-child(1)>div>input{
    width: 40%;
    outline: none;
    height: 30px;
    border-radius: 3px;
    border: transparent;
    margin-right: 5px;
    background-color: white;
    margin-top: 0px;
}

.headder > div:nth-child(2){
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 10px;
    background-color: white;
}
.headder > div:nth-child(2) > p{
    display: inline-block;
    padding-right: 20px;
    /* border: 1px solid red; */
    background-color: white;
    margin: auto;
    text-align: center;
    color: black;
    font-size: medium;
    letter-spacing: 1px;
}
.headder > div:nth-child(2) > p > a{
    background-color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    position: relative;
    padding-bottom: 6px;
    color: #000000;
}
.headder > div:nth-child(2) > p > a::after{
    content: "";
    position: absolute;
    background-color: black;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.3s;
}
.headder > div:nth-child(2) > p > a:hover:after{
    text-decoration: underline;
    width: 100%;
}
.headder > div:nth-child(2) > p > a:hover{
    color: red;
}
.headder > div:nth-child(1) > div > i{
    background-color: grey;
    margin-right: 0px;
    padding: 3px 0px;
    background-color: white;
}

.width{
    margin-left: 5px;
}

.filter{
    width: 20%;
    /* border: 1px solid red; */
    height: 700px;
}

.items{
    /* border: 1px solid red; */
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    margin-left: 15px;
    height: auto;
}

.products_filter_page{
    margin-top: 10px;
    display: flex;
}

#items-Cards>div>div>img{
    display: block;
    width: 80%;
    height: 300px;
    margin: auto;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    margin-bottom: 20px;
}
#items-Cards>div>div{
    background-color: white;
    /* box-shadow: ; */
}
#items-Cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
}
#items-Cards > div{
    /* border: 1px solid red; */
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px 0px 0px 0px;
}

#items-Cards > div > h5,
#items-Cards > div > p,
#items-Cards > div > h4{
    margin-top: 10px;
    text-align: center;
    background-color: white;
}

#items-Cards > div > button{
    display: block;
    margin: auto;
    padding: 9px 20px 9px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(245, 212, 245);
    border-radius: 4px;
    color: black;
    border: none;

}

#items-Cards > div > button:hover{
    background-color: lightblue;
    cursor: pointer;
}

#items-Cards > div:hover{
    transform: scale(1.04);
    box-shadow: rgba(174, 224, 9, 0.15) 1.95px 1.95px 2.6px;
}

#pagination{
    height: 20px;
    width: 50%;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
    /* Loook for this when adding the footer part */
    bottom: 0px;
}

#pagination > button{
    width: 40px;
    height: 30px;
    margin-right: 1%;
    border-radius: 10px;
    border: none;
}
#pagination > button:hover{
    background-color: lightblue;
    color: white;
}
.checkbox{
    display: block;
}

.filter > div:nth-child(1) > p{
    background-color:#ffffff;
    padding: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}
.filter > div:nth-child(1),
.filter > div:nth-child(2){
    margin-bottom: 20px;
    /* border: 1px solid red; */
    background-color: #ffffff;
}

#filterByPrice{
    margin-left: 20px;
    margin-top: 10px;
    width: 70%;
    height: 25px;
    margin-bottom: 20px;
    font-family: sans-serif;
    outline: none;
}

/* .filter > div:nth-child(2)>p, */
.filter > div:nth-child(2)>label{
    background-color: #ffffff;
    margin-left: 20px;
    padding: 10px;
    color: rgba(111, 110, 110, 0.754);
}
.filter > div:nth-child(2)>p{
    margin-top: 20px;
    background-color: #ffffff;
    margin-left: 20px;
    padding: 10px;
    color: black;
    font-weight: bold;
    padding-top: 15px;
}
.checkboxbtn{
    display: inline;
    margin-right: 10px;
    height: 18px;
    width: 18px;
}

#items_1st_div{
    display: flex;
    margin: 20px 0px 30px 0px;
    /* border: 1px solid red; */
    width: 60%;
    height: 200px;
    justify-content: space-between;
}

#items_1st_div > div{
    border-radius: 8px;
    padding: 5px;
    width: 24%;
    /* border: 1px solid red; */
    height: 200px;
    background-color: white;
}
#items_1st_div > div:hover{
    transform: scale(1.04);
    box-shadow: rgba(174, 224, 9, 0.15) 1.95px 1.95px 2.6px;
}
#items_1st_div > div > img{
    width: 100%;
    height: 150px;
}
#items_1st_div > div >p{
    text-align: center;
    background-color: white;
    font-family: sans-serif;
    color: rgb(95, 93, 93);
}


/* Media query for small screen */

@media only screen and (min-width:360px) and (max-width: 600px){
    #items-Cards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
    .filter{
        display:none
    }
    .headder > div:nth-child(2) {
        display: none;
    }
    .headder > div:nth-child(1){
        width: 100%;
    }
    #items_1st_div{
        width: 100%;
    }
}

/*  */
@media only screen and (min-width:601px) and (max-width: 800px){
    #items-Cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    .filter{
        display:inline-block;
    }
    .headder > div:nth-child(2) {
        display: none;
    }
    .headder > div:nth-child(1){
        width: 100%;
    }
    #items_1st_div{
        width: 100%;
    }
}