body{
    margin: 0;
    padding: 0;
    background-color: #ece9e9;
}

nav{
    background-color: #373dac ;
    height: 55px;
    display: flex;
}

nav>img:nth-child(1){
    width: 45px;
    height: 47px;
    margin-left: 10px;
    margin-top: 2px;
}

nav>img:nth-child(2){
    width:15%;
    margin-top: 8px;
}

#navbox{
 display: flex;
 width: 50%;
 margin-left : 61%;
 padding-top: 2px;
}

#navbox img{
 width: 40px;
 height: 35px;
 cursor: pointer;
 filter: contrast();
 filter:invert();
}

#navbox img:hover{
    color: white;
    opacity: .5;
}

#navbox a{
    font-size: 14px;
    color: white;
    text-decoration: none;
}

#navbox a:hover{
    color: black;
    font-weight: bold;
}

#navbox>div{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

#search-container{
    position: relative;
    text-align: center;
    color: white;
  }

#search-container>img{
    width: 100%;
    opacity: 0.6;
    
}

.search{
    width: 30%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

input[type="text"] {
    width: 70%;
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	margin-right: 5px;
}

button[type="submit"] {
    width: 20%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
} 


/* ---------------------------Mega Menu------------------------------- */

.navbar {
    overflow: hidden;
    background-color: #ffffff;
    font-family: Arial;
    border-bottom: 1px solid black;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar>div{
    margin-left:0.5%;
  }

  .navbar>div:hover{
    font-weight: bold;
  } 
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(33, 31, 31);
    padding: 14px 16px;
    background-color: inherit;
    font: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(37, 164, 228);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Mega Menu header, if needed */
  .dropdown-content .header {
    background: red;
    padding: 16px;
    color: white;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 18.6%;
    padding: 10px;
    background-color: #757575;
    height: 350px;
  }
  
  /* Style links inside the columns */
  .column a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a background color on hover */
  .column a:hover {
    background-color: #ddd;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #ad{
    display: flex;
  }
 #ad>div:nth-child(1)>img{
    margin-left: 10%;
 }
 #ad>div:nth-child(2)>img{
    margin-left: 7%;
 }


 /* ----------------------Get App--------------------- */
#getapp{
  border: 1px groove rgb(205, 205, 205);
  width: 80%;
  margin: auto;
}
#getapp>img{
  width: 100%;
}

 
/* ----------------------Footer--------------------- */

#feedbackbutton{
  border:1px solid rgb(183, 177, 177);
  width:80%;
  height:50px;
  text-align: center;
  padding-top: 25px;
  margin:auto;
  font-size: 15px;
  font-family: 'Courgette', cursive;
  color:#535454
}

.fa {
  padding:15px;
  width: 18px;
  margin-left:5px;
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

#mainfooter{
  background-color: #c9c9c9;
  line-height: 30px;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width:95%;
  font-family: 'Open Sans', sans-serif;
  font-size:13px
}
.footerbox p{
  cursor: pointer;
}
#submitbutton{
  font-size:13px;
  border:none;
  background-color: #000000;
  color:white;
  transition-duration: 0.4s;
}
#submitbutton:hover {
  background-color: #959595;
  color: rgb(0, 0, 0);
}

#lastline{
  background-color: #c9c9c9;
  margin:auto;
  border-top: 1px solid black;
  margin-top: 2px;
  text-align: center;
  padding-top:2px;
  font-size: 18px;
  line-height: 25px;
  padding-bottom:2px;
}

/* <!--------------------------------------------Category Option------------------------------------------> */

.main{
  width: 95%;
  margin: auto;
  padding: 10px 0px 10px 0px;
  border: 1px solid rgb(213, 210, 210);
  border-top: 3px solid #2e3192;
  background-color: white;
}

#heading{
  margin-left: 2.5%;
  font-size: 30px;
  color: #000000;
  font-family: 'Rubik', sans-serif; color: rgb(66, 64, 62);
  text-decoration: none;
}

#heading:hover{
  font-weight: bold;
  text-decoration: underline;
}

.category{
  width:95%;
  display: flex;
  margin: auto;
  height:400px;
  margin-top: 10px;
}

.overview{
  width: 22%;
  position: relative;
  margin: auto;
}

.overview>img{
  width: 100%;
  height: 100%;
}

#first-text{
  position: absolute;
  color: white;
  font-size: 20px;
  font-weight: bold;
  top: 50%;
  left: 20px;
}

#second-text{
  position: absolute;
  color: white;
  font-size: 20px;
  font-weight: bold;
  top: 58%;
  left: 20px;
}

#third-text{
  position: absolute;
  color: white;
  font-size: 20px;
  font-weight: bold;
  top: 66%;
  left: 20px;
}

#fourth-text{
  position: absolute;
  color: white;
  font-size: 20px;
  font-weight: bold;
  top: 74%;
  left: 20px;

}

#viewBtn{
  position: absolute;
  color: white;
  background-color: #55ACEE;
  height: 30px;
  width: 90px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  top: 88%;
  left: 20px;
  cursor: pointer;
}

#viewBtn:hover{
  color: #55ACEE;
  background-color: white;
}
.subcategory{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.sub{
  display: flex;
  margin: auto;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 10px 0px 10px 0px;
}

.thumbnail{
  margin: auto;
  width: 30%;
}

.thumbnail>img{
  width: 80px;
  margin: auto;
}

.link{
  margin: auto;
  width: 60%;
  line-height: 25px;
}

.link>a:nth-child(1){
  font-weight: bold;
  font-size: 18px;
}

.link>a{
  color: #000000;
  text-decoration: none;
}