body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    background-color: #373dac ;
    height: 55px;
    display: flex;
}

nav>img:nth-child(1){
    width: 45px;
    height: 47px;
    margin-left: 10px;
    margin-top: 2px;
}

nav>img:nth-child(2){
    width:15%;
    margin-top: 8px;
}

#navbox{
 display: flex;
 width: 50%;
 margin-left : 61%;
 padding-top: 2px;
}

#navbox img{
 width: 40px;
 height: 35px;
 cursor: pointer;
 filter: contrast();
 filter:invert();
 margin: auto;
}

#navbox img:hover{
    color: white;
    opacity: .5;
}

#navbox a{
    font-size: 14px;
    color: white;
    text-decoration: none;
}

#navbox a:hover{
    color: black;
    font-weight: bold;
}

#navbox>div{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

input{
    display: block;
    height: 2vw;
    width: 15vw;
    margin-top: 5px;
    border: none;
    background-color: rgb(242, 238, 238);
}
.container{
    position: absolute;
    width: 20%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-48%, -50%);
     margin-left: 150px;
  
}
#Submit{
    height: 2vw;
    width: 14.9vw;
    margin-top: 5px;
    background-color: #F44347;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.3em;
}
/* #main{
    box-sizing: border-box;
    background-color: antiquewhite;
    height: 610px;
    
} */
form{
    margin-left: 10px;
   
}
#check{
    margin-left: 19px;
    height: 1.3vw;
}
.new{
display: flex;
}
input[type=text] ,input[type=email],input[type=password]{

padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;

-webkit-transition: 0.5s;
transition: 0.6s;
outline: none;
}

input[type=text]:focus,input[type=email]:focus,input[type=password]:focus {
border: 3px solid rgb(31, 131, 170);

}
#Submit:hover{
background-color: rgb(43, 43, 181);
}
#show{
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
color:  red;
}

#item{
    display: flex;
    margin-left: 150px;
}
#creation{
    width: 400px;
    height: 396px;
    box-shadow: #00000059 0px 5px 15px;
    margin-top: 107px;
    background-color: white;
    margin-left: 117px;
    background-color: #F44347;
    border-radius: 0.3em;
}
#creation>p{
    color: white;
    text-align: center;
    margin-left: 10px;
    margin-top: 40px;
    margin: 0;
}
#creation>h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 123px;
    margin-top: 111px;
}
#creation>button{
    border: 1px solid white;
    border-radius: 0.8em ;
    width: 6vw;
    height: 2vw;
    background-color: #F44347;
    color: white;
    margin-left: 160px;
    margin-top: 30px;
}