*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    background-color: #e9eaea;
    font-family: 'Poppins', sans-serif;
}
.nav{
    border: 1px solid red;
    width: 100%;
    height: 50px;
}
.body{
    width: 92%;
    border: 1px solid red;
    margin: auto;
}
#xerhead{
    font-size: 25px;
}
.body > p:nth-child(2){
    margin-top: 5px;
    padding: 5px;
}
.headder{
    border: 1px solid red;
    width: 100%;
    /* height: 30px; */
    margin-top: 8px;
    display: flex;
    background-color: white;
    /* padding-top: 5px;
    padding-bottom: 5px ; */
}
.headder > div:nth-child(1){
    width: 30%;
    padding: 5px;
    background-color: white;
}
.headder > div:nth-child(1) > div{
    display: inline;
    background-color: red;
    padding-top: 5px;
    padding-bottom: 8px;
    border: 0.7px solid grey;
    border-radius: 3px;
    background-color: white;
}
.headder > div:nth-child(1) > i, .headder > div:nth-child(1)>p{
    display: inline;
    background-color: white;
}
.headder > div:nth-child(1)>p{
    padding-right: 10px;
    background-color: white;
}
.headder > div:nth-child(1)>div>input{
    width: 40%;
    outline: none;
    height: 30px;
    border-radius: 3px;
    border: transparent;
    margin-right: 5px;
    background-color: white;
    margin-top: 0px;
}

.headder > div:nth-child(2){
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 10px;
    background-color: white;
}
.headder > div:nth-child(2) > p{
    display: inline-block;
    padding-right: 20px;
    /* border: 1px solid red; */
    background-color: white;
    margin: auto;
    text-align: center;
}
.headder > div:nth-child(2) > p > a{
    background-color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    position: relative;
    padding-bottom: 6px;
}
.headder > div:nth-child(2) > p > a::after{
    content: "";
    position: absolute;
    background-color: black;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.3s;
}
.headder > div:nth-child(2) > p > a:hover:after{
    text-decoration: underline;
    width: 100%;
}

.headder > div:nth-child(1) > div > i{
    background-color: grey;
    margin-right: 0px;
    padding: 3px 0px;
    background-color: white;
}

.width{
    margin-left: 5px;
}

.filter{
    width: 20%;
    border: 1px solid red;
    height: 700px;
}

.items{
    border: 1px solid red;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    margin-left: 15px;
}

.products_filter_page{
    margin-top: 10px;
    display: flex;
}

#items-Cards>div>div>img{
    display: block;
    width: 80%;
    height: 300px;
    margin: auto;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    margin-bottom: 20px;
}
#items-Cards>div>div{
    background-color: white;
    /* box-shadow: ; */
}
#items-Cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
    
}
#items-Cards > div{
    /* border: 1px solid red; */
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#items-Cards > div > p,
#items-Cards > div > h3{
    margin-top: 10px;
    text-align: center;
    background-color: white;
}

#items-Cards > div > button{
    display: block;
    margin: auto;
    padding: 9px 20px 9px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: lightblue;
    border-radius: 4px;
    color: white;
    border: 1px solid blue;
}

#items-Cards > div > button:hover{
    background-color: aquamarine;
    cursor: pointer;
}

#items-Cards > div:hover{
    box-shadow: rgba(174, 224, 9, 0.15) 1.95px 1.95px 2.6px;
}